anyio==3.5.0
appnope==0.1.2
APScheduler==3.3.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asn1crypto==1.5.1
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
bandit==1.7.4
bc-python-hcl2==0.3.24
beautifulsoup4==4.10.0
bleach==4.1.0
blinker==1.5
boltons==21.0.0
boto3==1.17.112
botocore==1.23.32
bracex==2.3.post1
build==0.8.0
cached-property==1.5.2
cachetools==4.2.2
certifi==2017.4.17
cffi==1.15.0
chardet==3.0.3
charset-normalizer==2.0.6
checkov==2.0.473
click==8.1.3
click-option-group==0.5.3
cloudsplaining==0.4.5
codecov==2.0.11
colorama==0.4.4
ConfigArgParse==1.5.2
contextlib2==21.6.0
coverage==6.1.2
cryptography==36.0.2
cssmin==0.2.0
cssselect==1.0.1
debugpy==1.5.1
decorator==5.1.1
deep-merge==0.0.4
defusedxml==0.7.1
detect-secrets==1.1.0
distlib==0.3.2
Django==3.2.15
django-debug-toolbar==1.4
docker==5.0.2
dockerfile-parse==1.2.0
dpath==1.5.0
entrypoints==0.3
face==20.1.1
filelock==3.8.0
Flask==2.1.3
Flask-Assets==0.12
Flask-BabelEx==0.9.4
Flask-Login==0.6.1
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-WTF==1.0.1
funcsigs==1.0.2
future==0.18.2
futures==3.1.1
geocoder==1.38.1
gitdb==4.0.7
GitPython==3.1.24
glom==22.1.0
google-api-python-client==1.6.2
httplib2==0.10.3
idna==3.3
importlib-metadata==4.12.0
ipykernel==6.6.1
ipython==7.31.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.0.3
jmespath==0.10.0
json5==0.9.6
jsonschema==4.9.1
junit-xml==1.9
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyter-server==1.15.3
jupyterlab==3.3.2
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
lark-parser==0.10.1
lxml==4.5.0
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mistune==0.8.4
nbclassic==0.3.6
nbclient==0.5.9
nbconvert==6.4.0
nbformat==5.2.0
nest-asyncio==1.5.4
networkx==2.6.3
notebook==6.4.6
notebook-shim==0.1.0
oauth2client==4.1.1
oscrypto==1.3.0
packaging==21.0
pandocfilters==1.5.0
parso==0.8.3
passlib==1.7.4
pbr==5.9.0
peewee==3.15.1
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
pipenv==2021.5.29
platformdirs==2.3.0
policy-sentry==0.11.16
policyuniverse==1.4.0.20210819
prometheus-client==0.12.0
prompt-toolkit==3.0.24
ptyprocess==0.7.0
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycparser==2.21
pycryptodomex==3.15.0
Pygments==2.11.2
PyJWT==2.6.0
pyOpenSSL==22.0.0
pyparsing==2.4.7
pyquery==1.2.17
pyrsistent==0.18.0
python-dateutil==2.8.2
python-lsp-jsonrpc==1.0.0
pytz==2020.1
PyYAML==5.4.1
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.0
ratelim==0.1.6
requests==2.27.1
rsa==3.4.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.4.2
schema==0.7.4
semantic-version==2.8.5
semgrep==0.107.0
Send2Trash==1.8.0
six==1.10.0
smmap==4.0.0
sniffio==1.2.0
snowflake-connector-python==3.12.3
soco==0.12
soupsieve==2.2.1
speaklater==1.3
sqlparse==0.4.2
stevedore==4.0.0
tabulate==0.8.9
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
tomli==2.0.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing_extensions==4.3.0
tzlocal==1.4
ujson==5.4.0
update-checker==0.18.0
uritemplate==3.0.0
urllib3==1.26.11
virtualenv==20.7.2
virtualenv-clone==0.5.7
wcmatch==8.4
wcwidth==0.2.5
webassets==0.12.1
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.1.2
widgetsnbextension==3.5.2
WTForms==3.0.1
xmltodict==0.11.0
zipp==3.8.1
